#footer-widget{
    padding-top: 2em;
    padding-bottom:2em;
    margin-top: 0%;
    background-color:#b0a682!important ;
    color:white;
    
    h2{
        padding-top:2rem;
        font-size:3rem;
    }
    .widget{
        address{
        font-size:1.6rem!important;
        margin-bottom:2rem;
        }
    }
    
    #reg-numbers{
        font-size: 1rem;

    }

    #footer-social{
        a{
            background-color: #b0a682!important;
            color:white!important;  
        }
    }
}

footer{
    display:none;
    #colophon{
        display:none!important;
    }
    .entry-footer{
    display:none
    }
}

