#footer-widget{
    padding-top: 2em;
    padding-bottom:2em;

    background-color:#b0a682!important ;
    color:white;


#address{
    font-size:1.6em;
    margin-bottom:2em;

}
#reg-numbers{
    font-size: 1.2em;

}

#footer-social{
    a{
        background-color: #b0a682!important;
        color:white!important;  
    }
}
}