
header#masthead{
  margin-bottom: 0;
  background-color: $main-colour;
  font-family:$heading-font;
}

.navbar-brand{
  .site-title{
    font-size:2rem;
  }
}
.navbar-toggler{
  font-size: 2rem;
  margin-top: 15px;
}

.navbar{
    margin-top: -50px;
    border-bottom: solid 1px transparent!important;
    padding-bottom: 1rem!important;
  
    li{
      
      a{
        position:relative;
        text-decoration:none;
      }
      a::before{
        
          content:"";
          position:absolute;
          width:50%;
          height: 7px;
          bottom:0;
          left:25%;
          border-radius: 3.5px;
          background-color:#44babf;
          visibility:hidden;
          transform:ScaleX(0);
          transition: all 0.3s ease-in-out 0s;
          }

          a:hover::before{
          visibility:visible;
          transform: scaleX(1)
          }
    }  
  .nav-link{
    font-size:1.2rem !important;
    color: $main-font-colour !important;
    text-decoration:none;
  }
  .nav-link:hover {
    text-decoration:none;
  }
  .current_page_item  {
    text-decoration:underline;
    color:black!important;
    }
}

.dropdown-item{
  margin-left:50%;
  a::before{
    margin-left:0;
  }
}

@media (min-width:1200px){
  .dropdown-item{
  margin-left:0;
  }
}
  
#headphones{
  height:30px;
  width:30px;
  background-image: url("images/ba-websites-logo.png")!important;
  background-size: 100% 100%;
  background-position: center;

}
    
.site-header{
  .fa-facebook{
    color:#283583;
  }
  .fa-twitter{
    color:#009fe3;
  }
}

