
header#masthead{
  margin-bottom: 0;
  background-color: $main-colour;
  font-family:$heading-font;
}

.navbar-brand{
  .site-title{
    font-size:2rem;
  }
}
.navbar-toggler{
  font-size: 2rem;
}

.navbar{
    border-bottom: solid 1px transparent!important;
    padding-bottom: 1rem!important;
  
  .nav-link{
    font-size:2rem !important;
    color: $main-font-colour !important;
  }
  .nav-link:hover {
    text-decoration:underline;
  }
  .current_page_item a {
    text-decoration:underline;
    color:black!important;
    }
}
  
#headphones{
  height:30px;
  width:30px;
  background-image: url("images/ba-websites-logo.png")!important;
  background-size: 100% 100%;
  background-position: center;

}
    
.site-header{
  .fa-facebook{
    color:#283583;
  }
  .fa-twitter{
    color:#009fe3;
  }
}

