
header#masthead{
  margin-bottom: 0;
  background-color: $main-colour;
  font-family:$heading-font;
}

.navbar-brand{
  .site-title{
    font-size:2rem;
  }
}
.navbar-toggler{
  font-size: 2rem;
  margin-top: 15px;
}

.navbar{
    margin-top: -50px;
    border-bottom: solid 1px transparent!important;
    padding-bottom: 1rem!important;

    .current_page_item  {
    text-decoration:underline!important;
    color:black!important;
    }
  
    li{
      a{
        position:relative;
      }
      a::before{
          content:"";
          position:absolute;
          width:10%;
          height: 5px;
          bottom:0;
          left:45%;
          border-radius: 2.5px;
          background-color:#44babf;
          visibility:hidden;
          transform:ScaleX(0);
          transition: all 0.3s ease-in-out 0s;
          }

          a:hover::before{
          visibility:visible;
          transform: scaleX(1)
          }
    }  
  .nav-link{
    font-size:1.6rem !important;
    color: $main-font-colour !important;
    
  }
  .nav-link:hover {
    text-decoration:none;
  }
  
}

 .dropdown-item{
   text-align:center;
   font-size:1.4rem;
 }

//  settings specific to on big screens
@media (min-width:1200px){
  .dropdown-item{
  margin-left:0;
  }
  .navbar{
    .nav-link{
      font-size: 1.4rem!important;
      padding-left:15px!important;
      padding-right:15px!important;
    }
    li{
      a::before{
          width:100%;
          height: 7px;
          bottom:0;
          left:0;
          border-radius: 3.5px;
          }
        }
    }
}
  
#headphones{
  height:30px;
  width:30px;
  background-image: url("images/ba-websites-logo.png")!important;
  background-size: 100% 100%;
  background-position: center;

}
    
.site-header{
  .fa-facebook{
    color:#283583;
  }
  .fa-twitter{
    color:#009fe3;
  }
}

