


// Colours
$main-colour: #FF4136;
$main-font-colour:darkslategrey;
$contrast-colour:yellow;
$contrast-font-colour:white;
$borders:darkslategrey;

$nano-green:#196760;

// Fonts
$heading-font: 'Elsie', cursive;
$body-font: 'Mulish', sans-serif;



