


// Colours
$main-colour: white;
$main-font-colour:#65626a;
$contrast-colour:red;
$contrast-font-colour:white;
$borders:darkslategrey;

$nano-green:#196760;

// Fonts
$heading-font: 'ITC Avant Garde Gothic Std Book', sans-serif;
$body-font: 'ITC Avant Garde Gothic Std Book',sans-serif;



